[Desktop Entry]
Name=Helwan Insight
Comment=A comprehensive data analysis tool for students.
Exec=hel-insight
Icon=/usr/share/helwan-insight/logo/helwan-insight.png
Terminal=false
Type=Application
Categories=Science;Education;Utility;
Keywords=data;analysis;helwan;statistics;
StartupNotify=true
